<li id="comment-<%=comment._id%>">
    <% if(locals.user && (locals.user.id == post.user.id || locals.user.id == comment.user.id) ) { %>
        <a class="comment-delete" href="/comment/delete/?id=<%= post.id %>&cid=<%= comment.id %>">X</a>
    <% } %>
    <%= comment.content %><br/>
    <small><%= comment.user.name %></small>
</li>
